*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

.darker-nav a{
	color: grey;
	text-decoration: none;
}

a{
	text-decoration: none;
	color: #eee;
}


#myVideo{
  position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

	.index-links div {
	  font-family: 'Archivo Narrow', sans-serif;
	  font-size: 26px;
	  text-transform: uppercase;
	  letter-spacing: 1px;
		margin-top: 1000;
	  width: 300px;
	  height: 100px;

	}

	.index-boxlink-1 {
	  width: 38%;
	  height: 350px !important;
	  margin-top: -1070px !important;
		margin-left: 200px;
		background-color: blue;
	}

	.index-boxlink-2 {
	  width: 38%;
	  height: 350px !important;
	  margin-top: -350px !important;
		margin-left: 780px !important;
		background-color: blue;
	}

	.books-boxlink-1 {
	  width: 38%;
	  height: 350px !important;
	  margin-top: -1650px !important;
		margin-left: 200px;
		background-color: blue;
	}

	.books-boxlink-2 {
	  width: 38%;
	  height: 350px !important;
	  margin-top: -350px !important;
		margin-left: 780px !important;
		background-color: blue;
	}

	.index-boxlink-text {
	  width: 250px !important;
	  height: 200px !important;
	  margin-top: 50px !important;
		margin-left: 195px;
		border-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #0CB04A;
	}

	.index-boxlink-text-2 {
		width: 250px !important;
		height: 200px !important;
		margin-top: -205px !important;
		margin-left: 780px;
		border-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #0CB04A;
	}

	.index-boxlink-text h1{
		font-size: 35px;
		padding-bottom: 15px;
		color: #0CB04A;
		margin-left: 4px;
	}

	.index-boxlink-text p{
		font-size: 16px;
		margin-left: 6px;
	}

	.index-boxlink-text-2 h1{
		font-size: 35px;
		padding-bottom: 15px;
		color: #0CB04A;
	}

	.index-boxlink-text-2 p{
		font-size: 16px;
	}

	.books-boxlink-text {
		width: 1000px !important;
		height: 350px !important;
		margin-top: 200px !important;
		margin-left: 195px;
		border-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #0CB04A;
	}

	.books-boxlink-text h1{
		font-size: 35px;
		padding-bottom: 30px;
		color: #0CB04A;
		margin-left: 4px;
	}

	.books-boxlink-text p{
		font-size: 20px;
		margin-left: 6px;
		margin-bottom: 40px;
	}

	.img-home {
	  width: 530px;
		height: 730px;
	  margin-left: 1000px;
	  margin-top: -620px;
	}

	.img-books {
	  width: 530px;
		height: 730px;
	  margin-left: 1000px;
	  margin-top: -650px;
	}

	.img-logo {
		flex: auto;
		height: 90px;
		width: 90px;
		float: left;
		margin-left: 0px;
		margin-top: -15px;
	}

	.img-cover-1{
		width: 300px !important;
		height: 350px !important;
	}

	.img-cover-2{
		width: 300px !important;
		height: 350px !important;
	}

	.img-nav-logo {
		width: 200px;
		height: 100px;
		margin-top: -30px;
	}

.button div{
	background-color: crimson;
	margin-left: 515px;
	margin-top: 80px;
	border-radius: 35px;
	height: 70px;
	width: 250px;
}

.donate-text{
	height: 40px;
	width: 200px;
	font-size: 26px;
	font-weight: 600;
	margin-left: 515px;
	margin-top: -55px;
	text-align: center;
	padding-top: 5px;
}

.books-button div{
	background-color: crimson;
	margin-left: 515px;
	margin-top: 150px;
	border-radius: 35px;
	height: 70px;
	width: 250px;
}


	body {
  font-family: sans-serif;
}


a{
  text-decoration: none;
  outline: none;
}

.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 25px 0px;
    margin-top: 1600px;
  }

	.footer-about-div{
	    width: 100%;
	    height: auto;
	    margin: auto;
	    background: #272727;
	    padding: 25px 0px;
	    margin-top: 0px;
	  }

.footer-events-div{
				width: 100%;
				height: auto;
				margin: auto;
				background: #272727;
				padding: 25px 0px;
				margin-top: 100px;
			}

.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
  }

.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    border-radius: 100%;
    background: crimson;
  }

.footer-social-icons ul li a{
    color: #272727;
    font-size: 25px;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}

.footer-social-icons ul li:hover{
  background: #32CD32;
}

.footer-social-icons ul li:hover a{
  color: white;
}

.footer-menu-one{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}

.footer-menu-one ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu-one ul li{
  display: inline-block;
  margin: 0px 15px;
}

.footer-menu-one ul li a{
  font-family: arial;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.footer-menu-one ul li a:hover{
  color: crimson;
}

.footer-menu-two{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}

.footer-menu-two ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu-two ul li{
  display: inline-block;
  margin: 0px 15px;
}

.footer-menu-two ul li a{
  font-family: arial;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.footer-menu-two ul li a:hover{
  color: crimson;
}

.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  background: crimson;
  padding: 10px;
  margin-top: 0px;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.books-container{
	max-width: 120rem;
	width: 90%;
	height: 100px;
	margin: 0 auto;
	border-bottom-style: solid;
	border-bottom-color: #0CB04A;
}

.carousel-inner {
	width: 1200px;
	margin-left: 40px;
	margin-top: 25px;
}


.carousel-caption h1 {
	font-size: 35px;
}

.carousel-caption p {
	font-size: 16px;
}

.Upcoming-Events h1 {
	font-size: 35px;
	color: #0CB04A;

	margin-top: 100px;
	text-align: center;
}

.Upcoming-Events p {
	font-size: 16px;
	padding-top: 25px;
	text-align: center;
	line-height: 50px;
}

.Upcoming-Events span {
	font-size: 25px;
	color: #0CB04A;
}

/*---START OF ABOUT US----*/
.flex-container-Bodybio {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: ;
}

.Biotext {
  margin-left: 50px;
  text-align: left;
  font-size: 23px;
  padding-bottom: 0px;
  color: #crimson;
}

.Biotext h1 {
  font-size: 30px;
  color: #0CB04A;
  padding-bottom: 5px;
}

.card h1 {
  text-align: center;
  font-size: 30px;
  color: #crimson;
}
}

.Biotext h1 {
  font-size: 30px;
}

.Biotext h2 {
  font-size: 30px;
  color: #0CB04A;
}

.flex-container-morebio h2 {
  font-size: 30px;
  color: #white;
}

.flex-container-morebio ul {
  padding-left: 25px;
  font-size: 25px;
  color: black;
}

.flex-container-morebio {
  display: flex;
  justify-content: left;
  background-color: #e2e2e2;
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 23px;
  padding: 20px
}

.Management {
  padding-left: 60px;
}

.Management h2 {
  font-size: 25px;
}

.education h2 {
  font-size: 25px;
}

.education {
  padding-left: 20px;
  font-size: 25px;
}

.listofBooks h2 {
  padding-left: 160px;
  padding-top: 20px;
  font-size: 30px;
}

.listofBooks ul {
  padding-left: 185px;
  font-size: 25px;
  color: black;
}

.listofBooks ul a {
  color: #0CB04A;
}

.flex-container-Girls {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.flex-container-girl1 {
  margin-top: 30px;
}

.flex-container-card-body {
  border: 20px;
}

.flex-container-girl2 {
  margin-left: 80px;
}

.flex-container-dog {
  margin-left: 80px;
}

.girltitle h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 35px;
  color: #0CB04A;
}

.flex-container-Girls h2 {
  text-align: center;
  font-size: 25px;
  color: #crimson;
}

.Girlstext {
  padding-top: 70px;
  text-align: center;
  font-size: 25px;
}

.Teamtitle h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 35px;
  color: #0CB04A;
}

.flex-container-Team h2 {
  text-align: center;
  padding-top: 150px;
  font-size: 35px;
  color: #0CB04A;
}

.flex-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.cardteam2 {
  margin-left: 80px;
}

.cardteam3 {
  margin-left: 80px;
}

.flex-container h2 {
  text-align: center;
  font-size: 25px;
  color: #crimson;
}

.teamstext {
  padding-top: 70px;
  text-align: center;
  font-size: 25px;
}


.activities-events {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-top: 200px;
	margin-left: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-2 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 230px;
	margin-top: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-3 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 435px;
	margin-top: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-4 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 640px;
	margin-top: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-5 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 25px;
	margin-top: 55px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-6 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 230px;
	margin-top: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-7 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 435px;
	margin-top: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-8 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 640px;
	margin-top: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-9 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 230px;
	margin-top: 55px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities-events-10 {
	width: 150px;
	height: 150px;
	background-color: #0CB04A;
	border-radius: 100%;
	text-align: center;
	margin-left: 435px;
	margin-top: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle-content {
	padding-top: 55px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-2 {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-3 {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-4 {
	padding-top: 55px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-5 {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-6 {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-7 {
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 9px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-8 {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 9px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-9 {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 9px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.circle-content-10 {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 9px;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	font-size: 12px;
}

.grid-box {
	width: 500px;
	height: 500px;
	margin-top: -75px;
	margin-left: 215px;
}

.author-visit-text h1 {
	color: #0CAB04;
	font-family: "Roboto Cn", sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}

.author-visit-text p {

	font-family: "Roboto Cn", sans-serif;
	font-size: 24px;
	text-align: center;
}

.Multicultural img {
    padding-top: 50px;
  width: 50%;
  height: 50%;
  display: block;
   margin-left: auto;
   margin-right: auto
}

.Multiculturaltitle h2 {
  text-align: center;
  padding-top: 150px;
  font-size: 35px;
  color: #0CB04A;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.container-contact-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #0CB04A;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*---END OF ABOUT US----*/





.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}


nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 2rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}

  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
